* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg: #cecece;
    --color: #000;
}

::-moz-selection { /* Code for Firefox */
    color: #cecece;
    background: #000;
  }
  
::selection {
    color: #cecece;
    background: #000;
}


@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('/fonts/TestUntitledSans-BlackItalic.woff2') format('woff2'),
        url('/fonts/TestUntitledSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('/fonts/TestUntitledSans-Regular.woff2') format('woff2'),
        url('/fonts/TestUntitledSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('/fonts/TestUntitledSans-Bold.woff2') format('woff2'),
        url('/fonts/TestUntitledSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('/fonts/TestUntitledSans-Light.woff2') format('woff2'),
        url('/fonts/TestUntitledSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('/fonts/TestUntitledSans-Black.woff2') format('woff2'),
        url('/fonts/TestUntitledSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('/fonts/TestUntitledSans-LightItalic.woff2') format('woff2'),
        url('/fonts/TestUntitledSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('/fonts/TestUntitledSans-MediumItalic.woff2') format('woff2'),
        url('/fonts/TestUntitledSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('/fonts/TestUntitledSans-BoldItalic.woff2') format('woff2'),
        url('/fonts/TestUntitledSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('/fonts/TestUntitledSans-Medium.woff2') format('woff2'),
        url('/fonts/TestUntitledSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('/fonts/TestUntitledSans-RegularItalic.woff2') format('woff2'),
        url('/fonts/TestUntitledSans-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'Copyright Klim Type Foundry';
    font-weight: normal;
    /* text-rendering: optimizeLegibility; */
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;  
    max-height: -webkit-fill-available;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--color);
    background: var(--bg);  
    caret-color: #000;
}

#edit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 58px;
    width: 100%;
    z-index: 12;
    background-color: transparent;
    /* border-bottom: 1px solid #000; */
}

#editable {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    outline: none;
    font-size: 82px;
    overflow-y: scroll;
    text-align: center;
    line-height: 1;
    z-index: 10;
}

p {
    font-size: 80px;
}

#controller {
    position: absolute;
    height: 50%;
    width: 100%;
    opacity: 0;
    overflow-y: scroll;
}

.edit {
    height: 2000px;
    width: 100%;
    /* background: #f8f8f8; */
}

.l-text {
    font-family: 'Copyright Klim Type Foundry';
    font-weight: 500;
    font-size: 16px;
    margin: 12px;
}

.sm-text {
    font-family: 'Copyright Klim Type Foundry';
    font-weight: 400;
    font-size: 14px;
}

.size-wrapper {
    padding: 12px;
    gap: 22px;
    width: 100%;
    display: flex;
    align-items: center;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    /* background: #bababa; */
    background: #000;
    border-radius: 2.6vw;
    outline: none;
}

.slider::-webkit-slider-thumb {
    box-shadow: none;
    -webkit-appearance: none !important;
    appearance: none !important;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #cecece;
    cursor: pointer;
    background-clip: padding-box;
}

.slider::-moz-range-thumb {
    box-shadow: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #cecece;
    cursor: pointer;
}

#request {
    padding: 14px;
    border-radius: 6px;

    color: red;
} 

/*         .test {
    margin: 12px;
    margin-left: 20px;
    margin-right: 42px;
    display: flex;
    justify-content: space-between;
} */
